.header-menu{
	background-color: #1a191e;
	transition: all .5s ease;
}
.header-menu ul{
	padding: 0;
	margin: 0;
	display: flex;
	transition:  height .5s ease-in-out;
}
.header-menu a{
	flex-grow: 1;
}
.header-menu li{
	padding: 20px 5px;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	border-bottom: solid 5px #8408cd;
	
	text-align: center;
}
.header-menu li:hover{
	background:  #141414;	
	border-bottom: none;
	cursor: pointer; 
	
}
.header-menu li i{
	color: #F6BB10;
}
.burger{
	display: none;
	font-size: 20px;
	transition: all .5s ease;
}
.header-menu li.burger i {
	color: #fff;
	transition: all .5s ease;
}

@media screen and (max-width: 991px) {
	.header-menu ul{
		overflow: hidden;
		display: block;
		border-bottom: solid 5px #8408cd;
		height: 46px;
	}
	.header-menu li{
		padding: 10px 8px;
		text-align: center;
		border: none;
	}
	.burger{
		display: block;
		color: #fff;
		font-size: 20px;
	}
	.header-menu.visible ul{
		height: 330px;
	}
	.header-menu.visible{
		top: 139px;
	}
}
@media screen and (max-width: 767px){
	.header-menu{
		top: 0px;
		position: fixed; 
		z-index: 10001; 
		width: 100%;
	}
	.header-menu li.burger{
		text-align: right;
	}
	.header-menu li.burger i{
		margin-right: 20px;
		margin-left: auto;
	}
	.header-menu.visible li.burger i{
		display: inline-block;
		margin-right: calc(50% - 10px);
	}
	.header-menu li{
		background-color: #1a191e;
	}

}

@media screen and (max-width: 340px) {
    .header-menu{
		padding-top: 0px;
		/* top: 68px; */
	}
	.header-menu.visible{
		top: 119px;
	}
}