.header-top{
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
	height: 80px;
	background: #141414;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.header-top .auth button {
	margin: 0 10px 0 0;
	padding: 10px;
	border-radius: 5px;
	background: #1a191e;
	outline: none;
	color: #fff;
}

.header-top button:nth-of-type(3) {
	background: linear-gradient(90deg, #8408cd 0%, #527eb3 100% );
	margin-right: 0;
}

.search {
	position: relative;
	width: 35%;
}
.search input {
	box-shadow: none;
	width: 100%;
	height: 40px;
	background: #1c1b20;
	border-radius: 20px;
	outline: none;
	color: #fff;
	padding-left: 15px;
	box-sizing: border-box;
}
.search button{
	background: none;
	border: none;
	position: absolute;
	right: 5px;
	top: 3px;
	outline: none;
}
.search button i{
	color: #fff;
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
	.header-top{
		height: 150px;
		position: fixed;
		width: 100%;
		z-index: 5;
	}
	.search{
		width: 70%;
		order: 10;
	}
}
/* Iphone 5 */
@media screen and (max-width: 320px) {
    .header-top{
		height: 200px;
	}
	.search{
		width: 80%;
		margin-top: 20px;
	}
}