button{
    border-radius: 5px;
	padding: 10px;
	outline: none;
}

.dark {
    color: #fff;
	background: linear-gradient(90deg, #8408cd 0%, #527eb3 100% );
}
.light{
    color: #000;
	background: #F6BB10;
}
.grey{
	color: #fff;
	background:  #1a191e;
}
.button-hide{
	display: none;
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
	.button-hide{
		display: inline;
	}
}