.trailers{
	margin: 40px auto;
}
.trailers ul{
	padding: 0;
	margin: 0;
	text-align: center;
}
.trailers li{
	list-style: none;
	display: inline-block;
	text-align: center;
}
.trailer-item {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: solid 3px #527eb3;
	margin: 10px;
}