a{
	color: white;
	text-decoration: none;
}

.film {
	box-sizing: border-box;
	position: relative;
	display: flex;
	list-style: none;
	margin: 0 10px 20px 10px;
	cursor: pointer;
	width: 150px;
	overflow: hidden;	
}
.film.wide::after{
	content: "";
	position: absolute;
	z-index: 2;
	left: 0;
	top: 70%;
	right: 0;
	bottom: 0;
	box-shadow: inset 0px -50px 30px -10px rgba(26, 25, 30, 0.9);
}
.film .preview{
	box-sizing: border-box;
	margin: 0;
	float: left;
	min-width: 150px;
	height: 217px;
	position: relative;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: transform .3s ease-in-out;
}
.film .preview img{
	position: absolute;
	border-radius: 5px;
}
.film .desc {
	margin-left: 10px;
	display: none;
}
.film .preview:hover {
}

.film .preview:hover::before,
.film .preview:focus::before {
	content: "";
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px -80px 40px -10px rgba(0, 0, 0 , 0.9);
	cursor: pointer;
	border-radius: 5px;
}

.film .preview:hover::after,
.film .preview:focus::after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 72px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16' width='14' height='16'%3E%3Cpath d='M13.262 6.708l-11-6.503C1.37-.323 0 .19 0 1.495v13.003c0 1.172 1.272 1.878 2.262 1.291l11-6.5c.981-.578.984-2.003 0-2.58z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 72px 64px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -32px;
  margin-top: -36px;
  cursor: pointer;
}

.film .imdb{
	position: absolute;
	top: 35px;
	left: 5px;
   	width: 53px;
	font-size: 13px;
	padding: 5px;
	background-color:  #8408cd;
	border-radius: 3px;
	opacity: .9;
}
.film .kp{
	position: absolute;
	top: 5px;
	left: 5px;
  	width: 53px;
	font-size: 13px;
	padding: 5px;
	background-color:  #F6BB10;
	border-radius: 3px;
	color: #000;
	opacity: .9;
	
}
.film .rate{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 20px;
	text-shadow: 1.5px 1.5px 1px #000;
	font-weight: 900;
	z-index: 5;
}
.film .rate:hover {
	color:#FF1E48;
	transform: scale(1.2);
}
.film .name{
	position: absolute;
	z-index: 3;
	left: 5px;
	bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	opacity: 0;
}
.film .preview:hover .name{
	opacity: 1;
}

.film.wide{
	width: 100%;
	height: 300px;
}
.film .desc.wide{
	display: inline;
}
.film .preview.wide{
	margin: 15px;
}

.short-info{
    margin-left: 0px;
}
.short-info .first-column{
    width: 120px;
}
.short-info table{

    border-collapse: collapse;
}
.short-info td{
    padding: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
}


@media screen and (max-width: 550px){
	.film.wide{
		display: block;
		height: 500px;
		margin-bottom: 50px;
		text-align: center;
	}
	.film .preview.wide{
		float: none;
		display: inline-block;
	}
	.film .preview.wide img{
		left: 0px;
	}
	.film .desc.wide table{
		text-align: start;
	}
}