.film-block{
    margin: 0 120px;
}
.frames{
    margin: 0 auto;
    position: relative;
    width: 610px;
    overflow: hidden;
}
.frames-carousel{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    transition: transform .3s ease;
}
.frames li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}
.frames li img{
    transition: transform 0.3s ease;
    box-sizing: border-box;
}
.active-frame{
    border: 2px solid #fff;
    transform: scale(1.2);
}
.activeimg{
    text-align: center;
}
.poster{
}
.info{
    margin-left: 30px;
}
.header-film{
    display: flex;
    justify-self: flex-start;
}
.first-column{
    width: 150px;
}
.info table{

    border-collapse: collapse;
}
.info td{
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}
.uitools{
    margin: 20px auto !important;
    width: 610px;
    height: 370px;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.comments-list{
    padding: 0;
    margin: 0;
}

.comments-list .comment{
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-list .comment-img{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    display: inline-block;
}
.comments-list .comment-body{
    display: inline-block;
    width: 70%;
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
    .film-block{
        margin: 0 20px;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .header-film {
        display: block;
    }

    .frames {
        width: 500px;
    }
    .poster{
        text-align: center;
    }
    .first-column{
        width: 100px;
    }
    .uitools{
        width: 500px;
        height: 304px;
    }
}

@media screen and (max-width: 550px) {
    .film-block{
        margin: 0;
    }
    .uitools{
        width: 400px;
        height: 243px;
    }
    .frames {
        width: 400px;
    }
    .frames .activeimg img{
        height: 300px ;
    }
    .frames li img{
        height: 40px;
    }
    .info{
        margin-left: 0;
    }
    
}

@media screen and (max-width: 430px) {
    .uitools{
        width: 320px;
        height: 200px;
    }
    .frames .activeimg img{
        height: 250px ;
    }
    .frames {
        width: 300px;
    }
}