body{
	padding: 20px 0;
	margin: 0;
	font-size: 15px;
	color: #fff;
	background: url('./img/back.png') #000;
}

i:hover,
button:hover{
	cursor: pointer;
}

.toggle-location h3{
	margin-right: 100px;
	display: inline;
}


  
.light-theme1{
	color: black;
	background: #eeece7;
}

.light-theme2{
	color: black;
	background: #F6BB10;
}